{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <main class="container">
        <div class="row flex-column align-items-center">
            <div class="col-12 col-lg-6 col-xl-4 mb-4">
                <h1>Connexion</h1>
            </div>
            <div class="col-12 col-lg-6 col-xl-4">
                <form method="post">
                    {% if error %}
                        <div class="alert alert-danger">
                            {{ error.messageKey|trans(error.messageData, 'security') }}
                        </div>
                    {% endif %}
                    <input type="hidden" name="csrf_token" value="{{ csrf_token('authenticate') }}">
                    <div class="mb-3">
                        <label for="nickname" class="form-label">Pseudo</label>
                        <input type="text" id="nickname" name="nickname" class="form-control" placeholder="Votre pseudo si vous êtes déjà inscrit" value="{{ last_username }}" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Mot de passe</label>
                        <input type="password" id="password" name="password" class="form-control" placeholder="Votre mot de passe lié à votre pseudo" required>
                    </div>
                    <div>
                        <button class="btn btn-primary">Se connecter</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
{% endblock %}